*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana,sans-serif;
}

.header__select{
  flex:0 0 200px;
  min-width: 200px;
}
.header__link{
  text-decoration: none;
  color: black;
}

.convert-btn{
  margin:16px 18px;
  height:36px;
}

.convert-select{
  flex: 0 0 100px;
  margin-right: 16px;
}
.convert-input{
  flex: 0 0 200px;
}